.forum {
    width: 100%;
    height: 1250px;

    margin: 80px 0 0 0;

    background-image: url('../styles/TravelerCelestial.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forumform {
    width: 80%;
    height: 90%;

    background-color: white;
    border-radius: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0.9;
}

.forumlist {
    width: 90%;
    height: 80%;

    margin-top: 15px;

    border-radius: 30px;

}







.listitem {
    width: 100%;
    height: 80px;

    background-color: #dcdcdc;
    border-radius: 30px;

    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    font-family: 'genshinfont';
}
.listitem:hover{
    color: #1478FF;
    background-color: #BEEFFF;
} 
    .listitemdiv1 {
        width: 50px;

        text-align: center;
    }
    .listitemdiv2 {
        display: flex;
        flex-direction: column;
    }
        .listitemdiv3 {
            font-size: 20px;
            
            display: flex;
            flex-direction: row;
        }
        .listitemdiv4 {
            margin-top: 10px;

            display: flex;
            flex-direction: row;
        }
        .listitemdiv4 > div {
            margin-right: 10px;
        }





.forumbutton {
    width: 90%;
    height: 15%;

    margin-top: 15px;
    background-color: #787878;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pagenation {
    width: 800px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: left;

}

.utilbutton {
    width: 200px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .forumform {
        width: 100%;
        height: 100%;

        flex-direction: column-reverse;

        border-radius: 20px;
    }
    .forumlist {
        height: 85%;
    }
    
    .forumbutton {
        height: 10%;
    }
}