.forum {
    width: 100%;
    height: 1250px;

    margin: 80px 0 0 0;

    background-image: url('../styles/TravelerCelestial.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forumform {
    width: 80%;
    height: 90%;

    background-color: white;
    border-radius: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0.9;
}

.forumlist {
    width: 90%;
    height: 80%;

    margin-top: 15px;

    border-radius: 30px;

}







.listitem {
    width: 100%;
    height: 80px;

    background-color: #dcdcdc;
    border-radius: 30px;

    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    font-family: 'genshinfont';
}
.listitem:hover{
    color: #1478FF;
    background-color: #BEEFFF;
} 
    .listitemdiv1 {
        width: 50px;

        text-align: center;
    }
    .listitemdiv2 {
        display: flex;
        flex-direction: column;
    }
        .listitemdiv3 {
            font-size: 20px;
            
            display: flex;
            flex-direction: row;
        }
        .listitemdiv4 {
            margin-top: 10px;

            display: flex;
            flex-direction: row;
        }
        .listitemdiv4 > div {
            margin-right: 10px;
        }





.forumbutton {
    width: 90%;
    height: 15%;

    margin-top: 15px;
    background-color: #787878;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pagenation {
    width: 800px;
    height: 120px;
}
    .forumsearch {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;

        margin-left: 20px;
    }
        .searchtype {
            width: 50px;
            height: 30px;
        }
        .searchinput {
            width: 200px;
            height: 30px;
        }
        .searchbutton {
            width: 50px;
            height: 30px;
            margin-left: 20px;

            border-radius: 10px;
            font-size: 15px;
            font-weight: 900;
        }
        .searchbutton:active {
            color: red;
        }

.utilbutton {
    width: 200px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .forumform {
        width: 100%;
        height: 100%;

        flex-direction: column-reverse;

        border-radius: 20px;
    }
    .forumlist {
        height: 85%;
    }
    
    .forumbutton {
        height: 10%;
    }
}

@media screen and (max-width: 500px) {
    .pagenation {
        width: 250px;
    }
    .searchinput {
        width: 100px;
    }
    .utilbutton {
        width: 80px;
    }
    .listitem {
        height: 90px;
    }
    .listitemdiv1 {
        width: 12%;
    }
    .listitemdiv2 {
        width: 88%;
    }
    .listitemdiv3 {
        font-size: 20px;
    }
    .listitemdiv4 {
        margin-top: 10px;
        font-size: 15px;
    }
    .listitemdiv4 > div {
        margin-right: 5px;
    }
}

@media screen and (max-width: 400px) {
    .listitemdiv3 {
        font-size: 15px;
    }
    .listitemdiv4 {
        font-size: 13px;
    }
}

@media screen and (max-width: 350px) {
    .pagenation {
        width: 180px;
    }
    .searchinput {
        width: 50px;
    }
    .utilbutton {
        width: 50px;
    }
    .utilbutton > div {
        font-size: 12px;
    }
    .listitemdiv4 {
        font-size: 12px;
    }
}

@media screen and (max-width: 300px) {
    .listitemdiv4 {
        font-size: 10.5px;
    }
}