.edit {
    width: 100%;
    height: 100vh;

    margin: 80px 0 0 0;

    background-image: url('../styles/TravelerCelestial.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editform {
    width: 1200px;
    height: 900px;

    background-color: white;
    border-radius: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.editlist {
    width: 90%;
    height: 80%;

    margin-top: 25px;

    border-radius: 30px;
}
    .edittype {
        width: 50%;
        height: 30px;

        border-radius: 20px;
        font-size: 20px;

        border: none;
        color: black;
        background-color: #ececec;
    }

    .edittitle {
        width: 100%;
        height: 85px;

        margin-top: 15px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }
    .edittitle > textarea {
        width: 100%;
        height: 100%;
        font-size: 20px;
    
        resize: none;
      
        border: none;
        border-radius: 15px;
        background-color: #ececec;
      
        padding: 30px;
    }

    .edittext {
        width: 100%;
        height: 600px;

        margin-top: 15px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }
    .edittext > textarea {
        width: 100%;
        height: 100%;
        font-size: 20px;
    
        resize: none;
      
        border: none;
        border-radius: 5px;
        background-color: #ececec;
      
        padding: 30px;
    }

.editbutton {
    width: 90%;
    height: 15%;

    margin-top: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.submitbutton {
    width: 200px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .editform {
        width: 90%;
        height: 90%;
    }
    .edittype {
        height: 10%;
    }
    .edittitle {
        height: 25%;
    }
    .edittext {
        height: 55%;
    }
    .editlist {
        height: 60%;
        margin-top: 20px;
    }
    .editbutton {
        height: 30%;
        margin-top: 0px;
    }
}

@media screen and (max-width: 1200px) {
    .editform {
        width: 90%;
        height: 80%;
    }
}

@media screen and (max-width: 600px) {
    .editform {
        width: 90%;
        height: 70%;
    }
    .edittype {
        height: 10%;
    }
    .edittitle {
        height: 20%;
    }
    .edittext {
        height: 70%;
    }
    .editlist {
        height: 70%;
        margin-top: 20px;
    }
    .editbutton {
        height: 30%;
        margin-top: 0px;
    }
}
