@keyframes FadeUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 15%, 0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

.home {
    width: 100%;
    height: 100vh;

    margin: 80px 0 0 0;

    background-image: url('../styles/KnightsofFavonius.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: row;
    justify-content: center;

    opacity: 0.6;
}

.homecontents {
    width: 100%;
    height: 1000px;

    position: absolute;

    top: 100px;
}

.homelogo {
    width: 100%;
    height: 550px;

    background-image: url('../styles/Genshinlogo.png');
    background-size: 800px 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.maintext {
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'genshinfont';
}
.paimon {
    width: 100%;
    height: 100%;

    display: none;

    background-image: url('../styles/paimon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    animation: FadeUp 1s;
}

.maintext > p {
    font-size: 30px;
    margin-bottom: 30px;
}

.mainfooter {
    width: 100%;
    height: 100px;

    margin-top: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mainfooter > span {
    width: 180px;
    height: 60px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;

    margin: 5px;
}
    .footerbtn1 {
        background-image: url('../styles/window.png');
    }
    .footerbtn2 {
        background-image: url('../styles/google.png');
    }
    .footerbtn3 {
        background-image: url('../styles/apple.png');
    }
    .footerbtn4 {
        background-image: url('../styles/sony.png');
    }

    .footerbtn1:hover {
        background-image: url('../styles/window\(black\).png');
    }
    .footerbtn2:hover {
        background-image: url('../styles/google\(black\).png');
    }
    .footerbtn3:hover {
        background-image: url('../styles/apple\(black\).png');
    }
    .footerbtn4:hover {
        background-image: url('../styles/sony\(black\).png');
        background-size: 170px 60px;
    }

@media screen and (max-width: 1000px) {
    .home {
        width: 100%;
        height: 100vh;
        
        background-image: url('../styles/TravelerCelestial.jpg');
    }
    .homecontents {
        width: 100%;
        height: 700px;

        top: 100px;
    }
    .homelogo {
        width: 100%;
        height: 220px;

        background-size: 550px 200px;
    }
    .maintext {
        display: none;
    }
    .paimon {
        width: 100%;
        height: 55%;
    
        display: block;
    
        background-size: 300px 380px;
    }
    .mainfooter {
        height: 400px;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .home {
        width: 100%;
        height: 100vh;
        
        background-image: url('../styles/TravelerCelestial.jpg');
    }
    .homecontents {
        height: 350px;
    }
    .homelogo {
        height: 180px;
        background-size: 360px 150px;
    }
    .paimon {
        height: 100%;
        background-size: 300px 350px;
    }
    .mainfooter {
        height: 200px;
        flex-direction: column;
    }
    .mainfooter > span {
        width: 150px;
        height: 50px;
        margin: 2px;
    }
}

@media screen and (max-height: 800px) {
    .home {
        width: 100%;
        height: 100vh;
    }
    .homecontents {
        width: 100%;
        height: 300px;

        top: 100px;
    }
    .homelogo {
        width: 100%;
        height: 200px;

        margin-bottom: 0px;

        background-size: 350px 150px;
    }
    .paimon {
        height: 100%;
        background-size: 250px 280px;
    }
    .maintext {
        width: 100%;
        height: 220px;

        margin-bottom: 70px;
    }
    .maintext > p {
        font-size: 25px;
        margin-bottom: 30px;
    }
}

@media screen and (max-height: 700px) {
    .home {
        width: 100%;
        height: 100vh;
    }
    .homecontents {
        width: 100%;
        height: 130px;

        top: 100px;
    }
    .homelogo {
        width: 100%;
        height: 200px;

        margin-bottom: 0px;

        background-size: 250px 110px;
    }
    .paimon {
        display: none;
    }
    .mainfooter {
        height: 300px;
        flex-direction: column;
    }
    .mainfooter > span {
        width: 180px;
        height: 58px;
        margin: 2px;
    }

}

@media screen and (max-height: 500px) {
    .home {
        width: 100%;
        height: 100vh;
    }
    .homecontents {
        width: 100%;
        height: 150px;

        top: 75px;
    }
    .homelogo {
        width: 100%;
        height: 150px;

        margin-bottom: 30px;

        background-size: 350px 130px;
    }
    .mainfooter {
        height: 100px;
        flex-direction: row;
    }
    .mainfooter > span {
        width: 120px;
        height: 40px;
        margin: 2px;
    }

}
