.appbar {
    width: 100%;
    height: 80px;

    background-color: black;

    opacity: 0.8;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;
}

.appbarlogo {
    width: 250px;
    height: 100%;

    background-image: url('../styles/genshinimpectlogo(white).png');
    background-size: 145px 85px;
    background-position: center;
    background-repeat: no-repeat;
}

.appbarmenu {
    width: calc(100% - 250px);
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    .appbarmenu > a > button {
        width: 120px;
        height: 70px;

        border: 0;
        margin-left: 5px;
        border-radius: 30px;
    }

.appbarmenusmall {
    display: none;
}

@media screen and (max-width: 800px) {
    .appbarlogo {
        width: 250px;
    }

    .appbarmenu {
        display: none;
    }

    .appbarmenusmall {
        width: calc(100% - 250px);
        height: 100%;
    
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

}