.appbar {
    width: 100%;
    height: 80px;

    background-color: black;

    opacity: 0.8;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;
}

.appbarlogo {
    width: 250px;
    height: 100%;

    background-image: url('../styles/genshinimpectlogo(white).png');
    background-size: 145px 85px;
    background-position: center;
    background-repeat: no-repeat;
}

.appbarmenu {
    width: calc(100% - 250px);
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    .appbarmenu > a > button {
        width: 120px;
        height: 70px;

        border: 0;
        margin-left: 5px;
        border-radius: 30px;
    }

.appbarmenusmall {
    display: none;
}

.slidemenu > li { 
    width: 120px;
    height: 80px;
    
    padding: 5px;

    display: inline-block; 

    background: #eee; 

    text-align: center; 

    position: relative; 
}

.slidemenu > li:hover { 
    background:#fff; 
}

.slidemenu > li .submenu { 
    display: none; 
}

.slidemenu > li:hover .submenu { 
    display: block; 

    position: absolute; 
    
    margin-top: 60px;

    right: 0; 
}

.slidemenu > li .submenu > a > li { 
    display: inline-block; 
    width: 120px; 
    padding: 15px; 
    background: #eee; 
    border: 1px solid #eee; 
    text-align: center; 
}

.slidemenu > li .submenu > a > li:hover { 
    background:#fff; 
}

@media screen and (max-width: 800px) {
    .appbarlogo {
        width: 250px;
    }

    .appbarmenu {
        display: none;
    }

    .appbarmenusmall {
        width: calc(100% - 250px);
        height: 100%;
    
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

}